<template name="Users">
  <div class="users">
    <h1>Find me in app/client/templates/users/users</h1>
  </div>
</template>

<template name="CreateUser">
  <form class="js-create-user">
    <input class="form-control" type="text" name="firstname">
    <input class="form-control" type="text" name="middlename">
    <input class="form-control" type="text" name="lastname">

    <input class="form-control" type="text" name="username">
    <input class="form-control" type="password" name="password">
    <input class="form-control" type="password" name="password1">

    <select class="form-control">
      <option>1</option>
      <option>2</option>
    </select>

    <button class="btn btn-primary">Register</button>
  </form>
</template>
